<div class="row">
    <div class="col-lg-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center;">Our Emperor Penguin Sponsors</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-sm-offset-1">
                        <img width="100%" src="{{ media_url('./img/LA_logo.png') }}">
                    </div>
                    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                        <img width="100%" src="{{ media_url('./img/LA_logo.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
