{% extends "base.j2" %}

{% block main -%}
<article class="post">
{% mark image -%}
{% block image -%}{%- endblock %}
{% endmark -%}
<h1 class="title">{{ resource.meta.title }}</h1>
<time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
</time>

{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}

<nav class="post_nav btn-group">
<a class="backlink btn" href="{{ content_url(resource.node.url) }}">Back to list</a>
<a class="prev btn{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    Previous
</a>
<a class="next btn{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    Next
</a>
</nav>
</article>

{%- endblock %}